<!doctype html>
{% extends "layout.html" %}
{% block content %}
    <html>
        <head>
            <title>Mark Brown Resume</title>
        </head>
        <body>
            <div style="text-align: center;">
                <h2>Mark Brown</h2>
                <h1 class="resume">markmbrown@proton.me</h1>
            </div>
            <div>
                <h1>Summary</h1>
                <p>
                    test
                </p>
            </div>
            <div>
                <h1>Skills</h1>
                <p>
                    test
                </p>
            </div>
            <div>
                <h1>Employment</h1>
                <p>
                    test
                </p>
            </div>
            <div>
                <h1>Education</h1>
                <p>
                    test
                </p>
            </div>
        </body>
    </html>
{% endblock %}

